<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for("static", filename="assets/vendor/bootstrap/css/bootstrap.min.css") }}">
    <link href="{{ url_for("static", filename="assets/vendor/fonts/circular-std/style.css") }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for("static", filename="assets/libs/css/style.css") }}">
    <link rel="stylesheet"
          href="{{ url_for("static", filename="assets/vendor/fonts/fontawesome/css/fontawesome-all.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="assets/vendor/charts/chartist-bundle/chartist.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="assets/vendor/charts/morris-bundle/morris.css") }}">
    <link rel="stylesheet"
          href="{{ url_for("static", filename="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="assets/vendor/charts/c3charts/c3.css") }}">
    <link rel="stylesheet"
          href="{{ url_for("static", filename="assets/vendor/fonts/flag-icon-css/flag-icon.min.css") }}">


    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/font-awesome.min.css") }}">
    <script src="{{ url_for("static", filename="js/jquery.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/mall.css") }}">

    <title>{% block title %}Base{% endblock %}</title>

    {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
    {% endblock %}
</head>

<body>

<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div class="dashboard-header">
        <nav class="fixed-top">
            <div class="search-page">
    <div class="nav">
    <ul>
        <li class="nav-pull-down location">
            送至杭州
        </li>
        <li>
            <a href="{{ url_for("upload_book") }}">发布新书</a>
        </li>
        <li>
            <a href="{{ url_for("seek_book") }}">在线求书</a>
        </li>
        <li>
            <a href="{{ url_for("h_search_book") }}">在售书籍</a>
        </li>
        <li>
            <a href="{{ url_for("h_seek_book_list") }}">在求书籍</a>
        </li>
        <li>
            <a href="{{ url_for("order") }}">我的订单</a>
        </li>
        <li>
            <a href="{{ url_for("seller_order") }}">我的卖单</a>
        </li>

        <li>
            <a href="{{ url_for("h_modify_user_info") }}">修改个人信息</a>
        </li>


        <li class="login-signup">你好，{{ session['user_name'] }}

            <span class="text-color-red">
					|<a href="{{ url_for("logout") }}">  退出</a>
				</span>
        </li>
    </ul>
</div>
</div>


        </nav>
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link {% block active1 %}{% endblock %}" href="{{ url_for("h_search_book") }}"><i
                                    class="fa fa-fw fa-user-circle"></i>Book Market <span
                                    class="badge badge-success">6</span></a>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% block active2 %}{% endblock %}" href="{{ url_for("upload_book") }}"><i
                                    class="fas fa-fw fa-chart-pie"></i>Selling Book</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block active3 %}{% endblock %}"
                               href="{{ url_for("h_seek_book_list") }}"><i class="fas fa-fw fa-file"></i>Seek Book List
                            </a>


                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block active4 %}{% endblock %}" href="{{ url_for("seek_book") }}"><i
                                    class="fas fa-fw fa-table"></i>Seek Book</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block active5 %}{% endblock %}" href="{{ url_for("order") }}"><i
                                    class="fa fa-fw fa-rocket"></i>Buying Orders</a>

                        </li>
                        <li class="nav-item ">
                            <a class="nav-link {% block active6 %}{% endblock %}"
                               href="{{ url_for("seller_order") }}"><i class="fab fa-fw fa-wpforms"></i>Selling
                                Orders</a>

                        </li>


                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">

        <div class="container-fluid  dashboard-content">

            {% block content %}{% endblock %}

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            Copyright © 2019 Concept. All rights reserved. Dashboard by Yang.
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{{ url_for("static", filename="assets/vendor/jquery/jquery-3.3.1.min.js") }}"></script>
    <!-- bootstap bundle js -->
    <script src="{{ url_for("static", filename="assets/vendor/bootstrap/js/bootstrap.bundle.js") }}"></script>
    <!-- slimscroll js -->
    <script src="{{ url_for("static", filename="assets/vendor/slimscroll/jquery.slimscroll.js") }}"></script>
    <!-- main js -->
    <script src="{{ url_for("static", filename="assets/libs/js/main-js.js") }}"></script>
    <!-- chart chartist js -->
    <script src="{{ url_for("static", filename="assets/vendor/charts/chartist-bundle/chartist.min.js") }}"></script>
    <!-- sparkline js -->
    <script src="{{ url_for("static", filename="assets/vendor/charts/sparkline/jquery.sparkline.js") }}"></script>
    <!-- morris js -->
    <script src="{{ url_for("static", filename="assets/vendor/charts/morris-bundle/raphael.min.js") }}"></script>
    <script src="{{ url_for("static", filename="assets/vendor/charts/morris-bundle/morris.js") }}"></script>
    <!-- chart c3 js -->
    <script src="{{ url_for("static", filename="assets/vendor/charts/c3charts/c3.min.js") }}"></script>
    <script src="{{ url_for("static", filename="assets/vendor/charts/c3charts/d3-5.4.0.min.js") }}"></script>
    <script src="{{ url_for("static", filename="assets/vendor/charts/c3charts/C3chartjs.js") }}"></script>
    <script src="{{ url_for("static", filename="assets/libs/js/dashboard-ecommerce.js") }}"></script>

    {% block scripts %}
        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>

</html>