<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Book Store{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/font-awesome.min.css") }}">
    <script src="{{ url_for("static", filename="js/jquery.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap.min.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/mall.css") }}">
{% block bootstrap %}{% endblock %}
</head>


<body class="search-page">
<div class="nav">
    <ul>
        <li class="nav-pull-down location">
            送至杭州
        </li>
        <li>
            <a href="{{ url_for("upload_book") }}">发布新书</a>
        </li>
        <li>
            <a href="{{ url_for("seek_book") }}">在线求书</a>
        </li>
        <li>
            <a href="{{ url_for("h_search_book") }}">在售书籍</a>
        </li>
        <li>
            <a href="{{ url_for("h_seek_book_list") }}">在求书籍</a>
        </li>
        <li>
            <a href="{{ url_for("order") }}">我的订单</a>
        </li>
        <li>
            <a href="{{ url_for("seller_order") }}">我的卖单</a>
        </li>

        <li>
            <a href="{{ url_for("h_modify_user_info") }}">修改个人信息</a>
        </li>


        <li class="login-signup">你好，{{ session['user_name'] }}

            <span class="text-color-red">
					|<a href="{{ url_for("logout") }}">  退出</a>
				</span>
        </li>
    </ul>
</div>

<form action="{{ url_for("h_search_book") }}" , method="post">
<div class="search">
    <div class="search-body">
        <div class="input-group">

                <input type="text" class="form-control" placeholder="输入你想要的商品" name="searching_book">
                <span class="input-group-btn">
					<button class="btn btn-danger btn-search" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</span>
        </div>

    </div>
</div>
</form>

{% block content %}{% endblock %}
</body>

<script src="{{ url_for("static", filename="js/mall.js") }}"></script>
<script>{% block script %}{% endblock %}</script>
</html>